@{
    ViewData["Title"] = "Home Page";
}
<h1>Keiren's Testing Suite</h1>
<p>Test Links</p>
<ul>
    <li><a href="/api/Services/TestService">Test Api Service is live</a></li>
    <li><a href="/api/Services/TestLoggin">Test Loggin Service (Write to Log)</a></li>
    <li><a href="/api/Services/TestNewPerson">Test Person Service (Add New)</a></li>
</ul>
